antiorm==1.2.1
commonmark==0.9.1
db==0.1.1
db-sqlite3==0.0.1
greenlet==1.1.3
pyfiglet==0.8.post1
Pygments==2.13.0
PyInquirer
regex==2022.9.13
rich==12.5.1
six==1.16.0
SQLAlchemy==1.4.41
sqlite-orm==0.0.2b0
wcwidth==0.2.5
InquirerPy==0.3.4
peewee
colorama==0.4.4
ORM-SQLite